<br>
<div class="container">
	{{#if messages.message-add}}
		<div class="alert alert-info message-alert">
			{{messages.message-add}}
		</div>
	{{/if}}
	{{#if messages.message-drop}}
		<div class="alert alert-danger message-alert">
			{{messages.message-drop}}
		</div>
	{{/if}}
	{{#if messages.message-edit}}
		<div class="alert alert-warning message-alert">
			{{messages.message-edit}}
		</div>
	{{/if}}	
	<div class="dashboard">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h2>Lessons For {{class.title}}</h2>
			</div>
			<table class="table">
				<thead>
					<tr class="info">
						<th>Lesson Title</th>
						<th>View Lesson</th>
						{{#if instructor}}
							<th>Edit Lesson</th>
							<th>Delete Lesson</th>
						{{/if}}
					</tr>
				</thead>
				<tbody>
					{{#if class.lessons}}
						{{#each class.lessons}}
							<tr class="active">
								<td>{{lesson_title}}</td>
								<td><a href="/classes/{{../class._id}}/lessons/{{_id}}"><button type="button" class="btn btn-success">View Lesson</button></a></td>
								{{#if ../instructor}}
									<td><a href="/classes/{{../class._id}}/lessons/{{_id}}/edit"><button type="button" class="btn btn-warning">Edit Lesson</button></a></td>
									<td>  
										<form action="/classes/{{../class._id}}/lessons/{{_id}}/delete" method="post">
											<input type="hidden" name="_method" value="delete">
											<button type="submit" class="btn btn-danger">Delete Lesson</button>
										</form>
									</td>
								{{/if}}
							</tr>
						{{/each}}
					{{else}}
						<td>
							<p>No lessons currently.</p>
						</td>
						<td></td>
						{{#if instructor}}
							<td></td>
							<td></td>
						{{/if}}
					{{/if}}
					{{#if instructor}}
						<tr class="active">
							<td><a href="/classes/{{class._id}}/lessons/new"><b>Add lesson</b></a></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					{{/if}}
				</tbody>
			</table>
		</div>
	</div>
</div>