<br>
<div class="container">
	<div class="dashboard">
		<h2>Welcome {{student.first_name}}</h2>
		<br>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="table-heading">Classes You Are Registered For</h4>
			</div>
			<table class="table">
				<thead>
					<tr class="info">
						<th>Class Name</th>
						<th>Instructor</th>
						<th>Lessons</th>
					</tr>
				</thead>
				<tbody>
					{{#if student.classes}}
						{{#each student.classes}}
							<tr class="active">
								<td>{{class_title}}</td>
								<td>{{class_instructor}}</td>
								<td><a href="/classes/{{class_id}}/lessons">View Lessons</a></td>
							</tr>
						{{/each}}
					{{else}}
						<tr class="active">
							<td><a href="/classes"><b>Add Classes</b></a></td>
							<td></td>
							<td></td>
						</tr>
					{{/if}}
				</tbody>
			</table>
		</div>
	</div>
</div>