<div class="container">
	<h3>{{student.first_name}}'s Classes</h3>
	<br>
	<table class="table">
		<thead>
			<tr class="info">
				<th>Class Name</th>
				<th>Instructor</th>
				<th>Lessons</th>
			</tr>
		</thead>
		<tbody>
			{{#if student.classes}}
				{{#each student.classes}}
					<tr class="active">
						<td>{{class_title}}</td>
						<td>{{class_instructor}}</td>
						<td><a href="/classes/{{class_id}}/lessons">View Lessons</a></td>
					</tr>
				{{/each}}
			{{else}}
				<tr class="active">
					<td>You aren't registered for any classes yet. <a href="/classes"><b>Click here</b></a> to explore.</td>
					<td></td>
					<td></td>
				</tr>
			{{/if}}
		</tbody>
	</table>
</div>