<br>
<div class="container">
	{{#if messages.message-add}}
		<div class="alert alert-info message-alert">
			{{messages.message-add}}
		</div>
	{{/if}}
	{{#if messages.message-drop}}
		<div class="alert alert-danger message-alert">
			{{messages.message-drop}}
		</div>
	{{/if}}
	{{#if messages.message-register}}
		<div class="alert alert-success message-alert">
			{{messages.message-register}}
		</div>
	{{/if}}	
	<div class="dashboard">
		<h2>Welcome {{student.first_name}}</h2>
		<img src="../images/student-owl.png" class="owl">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="table-heading">Classes You Are Registered For</h4>
			</div>
			<table class="table">
				<thead>
					<tr class="info">
						<th>Class Name</th>
						<th>Instructor</th>
						<th>Lessons</th>
						<th>Drop</th>
					</tr>
				</thead>
				<tbody>
					{{#if student.classes}}
						{{#each student.classes}}
							<tr class="active">
								<td>{{class_id.title}}</td>
								<td>{{class_id.instructor}}</td>
								<td><a href="/classes/{{class_id._id}}/lessons"><button type="button" class="btn btn-success">View Lessons</button</a></td>
								<td>									
									<form action="/students/classes/{{class_id._id}}/delete" method="post">
											<input type="hidden" name="_method" value="delete">
											<button type="submit" class="btn btn-danger">Drop Class</button>
									</form>
								</td>
							</tr>
						{{/each}}
					{{/if}}
					<tr class="active">
						<td><a href="/categories"><b>Add Class</b></a></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>