<br>
<div class="container">
	<div class="dashboard">
		<h2>Welcome {{instructor.first_name}}</h2>
		<br>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="table-heading">Classes You Are Teaching</h4>
			</div>
			<table class="table">
				<thead>
					<tr class="info">
						<th>Class Name</th>
						<th>View Lessons</th>
						<th>Add Lesson</th>
					</tr>
				</thead>
				<tbody>
					<tr class="active">
						<td><a href="/instructors/classes/newclass"><b>Create new class</b></a></td>
						<td></td>
						<td></td>
					</tr>
					{{#if instructor.classes_instructor_for}}
						{{#each instructor.classes_instructor_for}}
							<tr class="active">
								<td>{{class_title}}</td>
								<td><a href="/classes/{{class_id}}/lessons">View Lessons</a></td>
								<td><a href="/instructors/lessons/new">Add Lesson</a></td>
							</tr>
						{{/each}}
					{{/if}}
				</tbody>
			</table>
		</div>
		<br>
		{{#if instructor.classes}}
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4 class="table-heading">Classes You Are Registered For</h4>
				</div>
				<table class="table">
					<thead>
						<tr class="info">
							<th>Class Name</th>
							<th>Instructor</th>
							<th>Lessons</th>
						</tr>
					</thead>
					<tbody>
						{{#each instructor.classes}}
							<tr class="active">
								<td>{{class_title}}</td>
								<td>{{class_instructor}}</td>
								<td><a href="/classes/{{class_id}}/lessons">View Lessons</a></td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		{{/if}}
	</div>
</div>