<br>
<div class="container">
	<div class="dashboard">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="table-heading">{{class.title}}'s' Lessons</h4>
			</div>
			<table class="table">
				<thead>
					<tr class="info">
						<th>Lesson Title</th>
						<th>View Lesson</th>
						<th>Edit Lesson</th>
						<th>Delete Lesson</th>
					</tr>
				</thead>
				<tbody>
					{{#if class.lessons}}
						{{#each class.lessons}}
							<tr class="active">
								<td>{{lesson_title}}</td>
								<td><a href="/classes/{{../class._id}}/lessons/{{_id}}">View Lesson</a></td>
								<td>Edit</td>
								<td>Delete</td>
							</tr>
							<tr class="active">
								<td><a href="/classes/new"><b>Add Lesson</b></a></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						{{/each}}
					{{else}}
						<tr class="active">
							<td><a href="/classes/new"><b>Add lesson</b></a></td>
							<td></td>
						</tr>
					{{/if}}
				</tbody>
			</table>
		</div>
	</div>
</div>