<br>
<div class="container details-text">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h2 class="class-title">{{class.title}}</h2>
		</div>
		<h4 class="panel-body">
			<p>Instructor: {{class.instructor}}</p>
			<br>
			<p>Description: {{class.description}}</p>
			<br>
			<p>Lessons: {{class.lessons.length}}</p>
		</h4>
		<div class="panel-body">
			{{#if user}}
				<form id="regForm" method="post" action="/{{type}}s/classes/{{class._id}}/new">
					<button type="submit" class="btn btn-lg btn-success">Register</button>
				</form>
			{{else}}
				<p><em>Please <a href="/users/login">login</a> or <a href="/users/new">signup</a> to register for this class<em></p>
			{{/if}}
		</div>
		<br>
		<div class="list-group show-lessons">
			<h4 class="list-group-item active lesson-titles">Lesson Titles</h4>
			{{#if class.lessons}}
				{{#each class.lessons}}
					<div class="list-group-item list-group-item-action">
						{{lesson_title}}
					</div>
				{{/each}}
			{{else}}
				<div class="list-group-item list-group-item-action">
						No lessons yet
				</div>
			{{/if}}
		</div>
		<br>
	</div>
</div>