<br>
<div class="container details-text">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h2 class="class-title">{{class.title}}</h2>
		</div>
		<h4 class="panel-body">
			<p>Instructor: {{class.instructor}}</p>
			<br>
			<p>Description: {{class.description}}</p>
			<br>
			<p>Lessons: {{class.lessons.length}}</p>
		</h4>
		<div class="panel-body">
			{{#if user}}
				<form id="regForm" method="post" action="/{{type}}s/classes/{{class._id}}/register">
					<button type="submit" class="btn btn-lg btn-primary">Register</button>
				</form>
			{{else}}
				<p><em>Please <a href="/users/login">login</a> or <a href="/users/signup">signup</a> to register for this class<em></p>
			{{/if}}
		</div>
		{{#if class.lessons}}
			<div class="panel-body">
				{{#each class.lessons}}
					<ul class="list-group">
						<li class="list-group-item">
							{{lesson_title}}
						</li>
					</ul>
				{{/each}}
			</div>
		{{/if}}
	</div>
</div>